# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
*.bat
!gradlew.bat

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle

# versions directory
versions/*
!versions/mainProject
!versions/1.8.9-forge/
!versions/1.21.10-fabric/

versions/1.8.9-forge/*
!versions/1.8.9-forge/src/

versions/1.21.10-fabric/*
!versions/1.21.10-fabric/src/

# other
eclipse
run
**/build/

# macOS
**/.DS_Store
