# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
*.bat
!gradlew.bat

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle
versions/1.8.9-forge/*
versions/1.21.8-fabric/*

# other
eclipse
run
